body{
	margin: 0;
	padding: 0;
}
.header{
	background-color: #0000FF; 
	height: 50px;
	position: relative;
}
.menu{
	width: 100%;
	float: left;
	font-size: 15pt;
	 background-color: #333;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
 ul li{
 	float: right;
 	display: inline;
 	margin: 0px 4px 0px 0px;
 	color: #90EE90;
 }

 ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 # background-color: #111;
 }

.sitbarkiri{
		background:#ddd;
		height: 650px;
		width: 150px;
		float: left;
}

.content {
	background: #fff;
	width: 100%;


}

.sitbarkanan{
	background: blue;
	width: 150px;
	height: 650px;
	float: right;
	bottom: 0;
}

.foter {
	position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}